# Database Configuration
# DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require
# NEON_DATABASE_URL=psql 'postgresql://neondb_owner:npg_5nhDAyOgTtK6@ep-winter-feather-adte1xik-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# JWT_SECRET='a-string-secret-at-least-256-bits-long'
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_5nhDAyOgTtK6@ep-winter-feather-adte1xik-pooler.c-2.us-east-1.aws.neon.tech/neondb
NEON_DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_5nhDAyOgTtK6@ep-winter-feather-adte1xik-pooler.c-2.us-east-1.aws.neon.tech/neondb

# JWT Configuration
JWT_SECRET=a-string-secret-at-least-256-bits-long
OPENROUTER_API_KEY=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

# Application Settings
APP_NAME=Todo API
APP_VERSION=0.1.0
DEBUG=True
Database = Configuration
